@model List<CrudMVCByKING.Models.DTOs.LessonsDto>

@{
    ViewData["Title"] = "Index";
}

<div class="flex justify-between">
    <h1 class="text-[34px]">All Lessons</h1>

    <div class="mt-5 mb-5 flex justify-end">
        <a asp-action="Create" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Create New</a>
    </div>
</div>
<div class=" overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    CourseId
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="px-6 py-4">
                        @*@Html.DisplayFor(modelItem => item.Desc)*@
                        @{
                            // Define a maximum length for the description
                            int maxDescriptionLength = 100;

                            // Check if the description is longer than the maximum length
                            if (item.Desc.Length > maxDescriptionLength)
                            {
                                // If it is longer, slice the description and append an ellipsis
                                var slicedDescription = item.Desc.Substring(0, maxDescriptionLength) + "...";
                                @slicedDescription
                            }
                            else
                            {
                                // If it's not longer, display the full description
                                @item.Desc
                            }
                        }
                    </td>
                    <td class="px-6 py-4">
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    <td class="px-6 py-4 text-right ">
                        <div class="flex gap-2 justify-end align-center h-full">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
                            <a asp-action="Details" asp-route-id="@item.Id " class="font-medium text-green-600 dark:text-green-500 hover:underline">Detail</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

